
/* Global Styles */
body {
    background-color: #F5EEF8;
    margin: 0;
    padding: 0;
}

/* Container Styles */
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none; /* 删除 box-shadow 属性 */
}

/* Profile Section Styles */
.profile {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: 20px;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile h1 {
    margin: 0;
    font-size: 48px;
    color: #76005b;
}

.profile p {
    margin: 5px 0 0;
    font-size: 20px;
    color: #999;
}

/* Top Image Section Styles */
.top-image {
    width: 100%;
    height: 25vh;
    overflow: hidden;
    position: relative;
    background-image: url('plant pink.jpeg');
    background-size: cover;
    background-position: top center;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
}

.image-text h2 {
    color: #fff;
    font-size: 48px;
    margin: 0;
}

/* Courses Section Styles */
.courses {
    margin-top: 50px;
}

.main-courses, .other-courses {
    margin-bottom: 20px;
}

.main-courses p, .other-courses p {
    font-size: 18px;
    margin: 5px 0;
}
body, h1, h2, h3, h4, h5, h6, p, a, li, span, div {
    font-family: 'Recursive', sans-serif;}
    /* Style the header and navigation */
header {
    background-color: transparent; /* 设置导航栏背景色为透明 */
    color: #fff; /* 设置文字颜色 */
    padding: 10px 0; /* 设置上下内边距 */
    font-family: 'Recursive', sans-serif;
  }
  
  nav ul {
    display: flex; /* 设置导航栏横向显示 */
    justify-content: center; /* 水平居中导航链接 */
    font-family: 'Recursive', sans-serif;
  }
  
  nav ul li {
    margin: 0 20px; /* 设置导航链接之间的水平间距 */
  }
  
  nav ul li a {
    color: #76005b; /* 设置导航链接文字颜色 */
    text-decoration: none; /* 移除链接下划线 */
    font-size: 28px; /* 设置链接文字大小 */
    font-weight: bold; /* 设置链接文字粗体 */
    font-family: 'Recursive', sans-serif;
  }
  
  nav ul li a:hover {
    color: #fe478d; /* 鼠标悬停时链接文字颜色 */
  }