body {
    background-color: #F5EEF8 ;
  }
  
  .containerm {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image {
    overflow: hidden;
    width: 300px;
    height: 300px; /* 调整图片高度 */
    position: relative;
    cursor: pointer;
    margin: 0 auto;
    box-shadow: 0 0 25px 1px rgba(0, 0, 0, .3);
    transition: .5s;
    background-image: url('/GV2rUU0.jpg'); /* 使用根目录下的图片作为背景 */
    background-size: cover; /* 背景图填充方式 */
    background-position: center; /* 背景图位置 */
  }
  
  .image:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    transform: translate(-140%, -50%);
    background-color: blue;
    opacity: 0.8;
    border-radius: 50%;
    transition: .8s;
  }
  
  .image:hover:after {
    transform: translate(-50%, -50%);
  }
  
  .image:hover img {
    transform: translate(-50%, -50%) scale(1.3) rotate(20deg);
  }
  
  img {
    position: absolute;
    height: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
  }
  
  i {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-2000px, -50%);
    color: #fff;
    transition: .8s;
    transition-timing-function: ease-in;
  }
  
  .image:hover i {
    transform: translate(-50%, -50%);
    transition-timing-function: ease;
  }
  /* 全局样式 */
body, h1, h2, h3, h4, h5, h6, p, a, li, span, div {
    font-family: "Times New Roman", serif;
}
