/* Reset default styles */
body, ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  /* Style the header and navigation */
  header {
    background-color: #F5EEF8; /* 设置导航栏背景色 */
    color: #fff; /* 设置文字颜色 */
    padding: 10px 0; /* 设置上下内边距 */
  }
  
  nav ul {
    display: flex; /* 设置导航栏横向显示 */
    justify-content: center; /* 水平居中导航链接 */
  }
  
  nav ul li {
    margin: 0 20px; /* 设置导航链接之间的水平间距 */
  }
  
  nav ul li a {
    color: #76005b; /* 设置导航链接文字颜色 */
    text-decoration: none; /* 移除链接下划线 */
    font-size: 28px; /* 设置链接文字大小 */
    font-weight: bold; /* 设置链接文字粗体 */
  }
  
  nav ul li a:hover {
    color: #fe478d; /* 鼠标悬停时链接文字颜色 */
  }
  /* 全局样式规则 */
body, h1, h2, h3, h4, h5, h6, p, a, li, span, div {
  font-family: 'Recursive', sans-serif;
  /* 其他全局样式，例如颜色、边距等 */
  color: #fe478d;/* 设置文字颜色为深灰色 */
  margin: 0; /* 移除页面元素的默认外边距 */
  padding: 0; /* 移除页面元素的默认内边距 */
}
