---
layout: default
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="css/home.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Heyho! SCCHOOL is here!
    </h1> <!-- 设置引人注目的标题 -->
    <!-- Your header, navigation, and content here -->

    <a href="mailto:{{ site.email }}" class="email-link">
        <img src="/assets/icons/email-icon.png" alt="Email Icon" class="email-icon">
    </a>
</body>

</html>
